<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
<h1>About Us</h1>
<p>For more than 125 years, Kash Hotel has been welcoming guests to spectacular destinations in the most stunning style. Together we’ve explored the world and discovered new places, possibilities and horizons. The very epitome of luxury, our brand is passionate about creating and crafting rich, meaningful and memorable experiences for every guest.</p>


</body>
</html>