<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
</head>
<body>
<h1>Spa & Swimming Pool</h1>
Kash Hotel is prided in its luxurious festivities and it aims to please all.Stress at work,rough day at school?This is the perfect place to be!

<h2>Bar & Grill</h2>
In need of a family get-together?Well look no further,Kash Hotel hosts barbeques and the stakes roasted here are to DIE for!

<h2>Conference Services</h2>
The hotel has a  high accommodation room.It offers privacy & serenity while undertaking all types of meetings.

</body>
</html>